name: CI Workflow

# Trigger the workflow on push or pull request to the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      # Step 3: Build
      - name: Build
        run: go build -v ./...

      # Step 4: Test
      - name: Test
        run: go test -v ./...

      # Step 5: Download discord ipa (Ensure you have access and the link is correct)
      - name: Download discord ipa
        run: wget -O discord.ipa https://und3fy-my.sharepoint.com/personal/greenglasst_und3fy_dev/_layouts/15/download.aspx?share=ETxaw2pF-hpDgsmKwQAiBpsBcoHujvHk0QYLvXOHjEcLyw

      # Step 6: Run patcher
      - name: Run patcher
        run: chmod +x ./patcher-ios && ./patcher-ios discord.ipa
    

      - uses: actions/upload-artifact@v4
        with:
         name: unbound.ipa
         path: ${{ github.workspace }}
         if-no-files-found: error
